@media screen and (max-width: 1024px) {
    .basket-section {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 9999;
        overflow-y: auto;
    }

    .basket-section.show-basket {
        display: block;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
.basket-wrapper {
        .basket-content {
            display: flex;
            flex-direction: column;
            background-color: rgba(54, 53, 52, 1);
            width: 100%;
            height: 100%;
            position: sticky;
            top: 0;
            border-radius: 0;
            padding: 50px;
            z-index: 6;
        }
    }

.close-btn-wrapper{
        button{
            display: flex;
            justify-content: flex-end;
            background-color: rgba(54, 53, 52, 1);
            color: white;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .landing-content {
        img {
            border-radius: 20px;
            width: 650px;
        }
    }

    .card-header{

        .genre-img{
            position: unset;
        }
    }

    .basket-wrapper {
        .basket-content {
            display: flex;
            flex-direction: column;
            background-color: rgba(54, 53, 52, 1);
            width: 100%;
            height: 100%;
            position: sticky;
            top: 0;
            border-radius: 0;
            padding: 50px;
            z-index: 6;
        }
    }

    .close-btn-wrapper{
        button{
            background-color: rgba(54, 53, 52, 1);
            color: white;
        }
    }

    table{
        margin-top: 300px;
    }

    .burger-icon {
        width: 70%;

        img {
            height: 200px;
            width: 200px;
        }
    }

    .card-content-section {
        .card-content {
            width: 500px;
        }

        .card-price-wrapper {
            width: 450px;
        }
    }
}
@media screen and (min-width: 1025px) {
    

.card-header{

        .genre-img{
            position: unset;
        }
    }

    .close-btn-wrapper{
        button{
            display: none;
        }
    }

    .nav-bar {
        display: none;
    }

    .card-header {
        width: calc(100% + 300px);
    }

    .landing-content {
        img {
            border-radius: 20px;
            width: 900px;
        }
    }

    .burger-icon {
        width: 85%;

        img {
            height: 200px;
            width: 200px;
        }
    }

.card-content-section{
    .card-content{
        width: 500px;
    }
}

}

@media screen and (min-width: 1200px) {
    .card-content-section{
    .card-content{
        width: 800px;
        height: 400px;
    }
}

.card-price-wrapper{
    width: 90%;
}
}
